<div class="container-fluid">
    <div class="card col-md-8 offset-2">
    <div class="card-header">
        Login
    </div>
    <div class="card-block">

      <!-- <form novalidate [formGroup]="formlogin">
        <div class="form-group">
          <label for="login">Email address</label>
          <input type="email" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Enter email" formControlName="login">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <div *ngIf="formlogin.controls.login.errors && formlogin.controls.login.touched">
              <div *ngIf="formlogin.controls.login.errors.required" class="alert alert-danger">
                El campo login es requerido
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <div *ngIf="formlogin.controls.password.errors && formlogin.controls.password.touched">
              <div *ngIf="formlogin.controls.password.errors.required" class="alert alert-danger">
                El campo login es requerido
              </div>
            </div>
        </div>



        <button style="cursor: pointer" class="btn btn-primary" (click)="logearUsuario()" [disabled]="!formlogin.valid"> Login </button>
      </form> -->

    </div>


  </div>
</div>